Repository lucee/extension-pdf, pull requests merged in 2022-05, with the labels that each got.

#39 Added a fix: implements the cfpdf action=thumbnail for LDEV-967
  source/java/src/org/lucee/extension/pdf/tag/PDF.java
  source/java/src/org/lucee/extension/pdf/util/PDFUtil.java
  tests/LDEV967.cfc
Labels: enhancement, test case

#40 Added a fix to cfpdf action=extracttext to returns the text correctly for LDEV-3015
  source/java/src/org/lucee/extension/pdf/util/PDFUtil.java
  tests/LDEV3015.cfc
Labels: bug, test case

#24 LDEV-3215. Ignore password protected PDFs
  source/java/src/org/lucee/extension/pdf/PDFStruct.java
Labels: enhancement
